.user-list {

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &.selected {
        background-color: rgb(50, 149, 198);
        color: white;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1); 
      }

      .user-info {
        display: flex;
        justify-content: space-between;
      }

      .username {
        color: gray;
      }
    }
  }
}
